{% extends 'base.html' %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
  {% endfor %}
{% endif %}

{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-6">
        <h3>Your Groups</h3>
        <ul class="list-group">
            {% for group in joined_groups %}
            <li class="list-group-item">
                <a href="{% url 'tavern_group_details' group.slug %}">{{ group.name|capfirst }}</a>
                <button class="btn btn-default btn-sm" id="{{ group.slug }}" style="float: right;" onclick="toggle_member(this.id, '{{ user.id }}', '{{ group.slug }}')">
                Unjoin Group
                </button>
            </li>
            {% empty %}
            <li class="list-group-item">No groups joined</li>
            {% endfor %}

            {% for group in unjoined_groups %}
            <li class="list-group-item">
                <a href="{% url 'tavern_group_details' group.slug %}">{{ group.name|capfirst }}</a>
                <button class="btn btn-default btn-sm" id="{{ group.slug }}" style="float: right;" onclick="toggle_member(this.id, '{{ user.id }}', '{{ group.slug }}')">
                Join Group
                </button>
            </li>
            {% empty %}
            <li class="list-group-item">No groups left</li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-6">
        <h3> Events I rsvped </h3>
        <ul class="list-group">
            {% for event in events_rsvped %}
            <li class="list-group-item"><a href="{% url 'tavern_event_details' event.group.slug event.slug %}">{{ event.name|capfirst }}</a></li>
            {% empty %}
            <li class="list-group-item">You have not rsvped any event.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-6">
        <p id="home-description" class="lead">Welcome to Opentavern, a small self-hosted meetup group organizer. Please <a href="{% url 'signup' %}">signup</a> to get started.</p>
    </div>
    <div class="col-md-6">
        <h3>All Groups</h3>
        <ul class="list-group">
            {% for group in groups %}
            <li class="list-group-item">
            <a href="{% url 'tavern_group_details' group.slug %}">{{ group.name|capfirst }}</a>
            </li>
            {% empty %}
            <li class="list-group-item">No groups for now</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if upcoming_events %}
{% include 'tavern/upcoming_events.html' %}
{% endif %}

{% if past_events %}
{% include 'tavern/past_events.html' %}
{% endif %}

{% endblock content %}

{% block javascript %}
    <script>
        function toggle_member(clicked_id, user, slug) {
            var url = "{% url 'tavern_toggle_member' %}";
            $.post(url,
                   {user_id:user, slug:slug,
                   csrfmiddlewaretoken: '{{ csrf_token }}'},
                   function(data) {
                        $('#'+clicked_id).html(data);
                   });
        }
    </script>
{% endblock %}
