Django==1.6
South==0.8.4
Unipath==1.0
argparse==1.2.1
astroid==1.1.1
distribute==0.6.34
dj-database-url==0.3.0
dj-static==0.0.5
django-allauth==0.16.1
django-toolbelt==0.0.1
gunicorn==18.0
ipython==2.0.0
logilab-common==0.61.0
oauthlib==0.6.1
pep8==1.4.6
pinax.checkers==1.0
psycopg2==2.5.2
pylint==1.0.0
pystache==0.5.4
python-openid==2.2.5
requests==2.2.1
requests-oauthlib==0.4.0
static==1.0.2
wsgiref==0.1.2
django-guardian==1.2.0
