<html>
  <head>
    <title>Open Tavern</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
  </head>
  <body>
       <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Open Tavern</a>
              </div>
              <div class="nav navbar-nav navbar-right">
                <li><a href="#"> welcome: {% firstof user.first_name user.username%}</a></li>
                <li><a href="#" title="logout"> Logout</a></li>
                <li><a href="#" title="ChangePassword"> ChangePassword</a></li>
              </div>
          </div>
        </div>
      </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
  </body>
</html>