{% extends 'base.html' %}

{% block title %} {% if user.is_authenticated %} Open Tavern {% else %} Welcome to Open Tavern - SignIn {% endif %} {% endblock title %}

{% block content %}

  {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}
  {% endif %}

  {% if user.is_authenticated %}
    <h1> Joined Groups </h1>

    <ul class="list-group">
    {% for group in groups %}
        <li class="list-group-item"><a href="{% url 'tavern_group_details' group.slug %}">{{ group.name }}</a></li>
        {% empty %}
        <li class="list-group-item">No groups joined</li>
    {% endfor %}
    </ul>

    {% if past_events %}
        {% include 'past_events.html' %}
    {% endif %}

    {% if events_rsvped %}
        <h1> Events I rsvped </h1>
        {% for event in events_rsvped %}
            <li>{{ event }}</li>
        {% endfor %}
    {% endif %}

    <h3><a href="{% url 'tavern_create_event' %}"> Create Event </a></h3>


    {% else %}
        {% if groups %}
        <ul>
            <h1>All Groups </h1>
            {% for group in groups %}
                <li>{{ group.name }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    {% endif %}

    {% if upcoming_events %}
        {% include 'upcoming_events.html' %}
    {% endif %}

{% endblock content %}
