{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}eternicode-bootstrap-datepicker-b374f23/js/bootstrap-datepicker.js"></script>
{% endblock %}
{% block content %}

<form action="" method="post">{% csrf_token %}

    <fieldset>  
          <legend>Create Event</legend>  

	  {% if form.errors %}
 		<p>Please fill all the fields.</p>
	  {% endif %}

          {% for field in form %}
            <div class="control-group">  
              <label class="control-label" for="input01">{{ field.label_tag }}</label>  {{ field.errors }}
              <div class="controls">  
                {{ field }}
              </div>  
            </div>  
          {% endfor %}
	
 	  <br/>

          <div class="form-actions">  
            <button type="submit" class="btn btn-primary">Update</button>  
            <button class="btn btn-danger" type="reset">Cancel</button>  
          </div>  

    </fieldset>

</form>
	<!-- Date Picker -->
		<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
		<script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
  
		<script>
			  $(function() {
			  $( "#id_starts_at" ).datepicker({'minDate': 0});
			  $( "#id_ends_at" ).datepicker({'minDate': 0});
			  });
		</script>
	<!-- Date Picker -->
{% endblock content %}
