{% extends "base.html" %}

{% block javascript %}
      <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/daterangepicker-bs3.css" />
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}js/moment.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}js/daterangepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}eternicode-bootstrap-datepicker-b374f23/js/bootstrap-datepicker.js"></script>
{% endblock %}
{% block content %}

<form action="" method="post">{% csrf_token %}

    <fieldset>
          <legend>Edit Event</legend>

      {% if form.errors %}
        <p>Please fill all the fields.</p>
      {% endif %}

          {% for field in form %}
            <div class="control-group">
              <label class="control-label" for="input01">{{ field.label_tag }}</label>  {{ field.errors }}
              <div class="controls">
                {{ field }}
              </div>
            </div>
          {% endfor %}

      <br/>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Update</button>
            <button class="btn btn-danger" type="reset">Cancel</button>
          </div>

    </fieldset>

</form>
    <!-- Date Picker -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
        <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>

        <script type="text/javascript">
               $(document).ready(function() {
                  $('#id_event_time').daterangepicker({
                    timePicker: true,
                    timePickerIncrement: 30,
                    format: 'DD/MM/YYYY h:mm A'
                  });
               });
    </script>
    <!-- Date Picker -->
{% endblock content %}
