{% extends "base.html" %}

{% block title %} SignUp {% endblock title %}

{% block content %}

<form action="{% url 'signup' %}" method="POST" class="form-horizontal">
{% csrf_token %}
    <fieldset>  
          <legend>User Registration</legend>  

          {% for field in form %}
           <div class="control-group">  
              <label class="control-label" for="input01">{{ field.label_tag }}</label>
            
              <div class="controls">  
                {{ field }}
              </div>

              {% if field.errors %}
               {% for error in field.errors %}
                 <div class="alert alert-info">    
	         {{ error }}
                 </div>
               {% endfor %}
              {% endif %}

           </div>  
          {% endfor %}
	
 	  <br/>

          <div class="form-actions">  
            <button type="submit" class="btn btn-primary">Register</button>  
            <button class="btn btn-danger" type="reset">Cancel</button>  
          </div>  

    </fieldset>

</form>

{% if success %}
    <div class="alert alert-success">
       You had a successful registration
    </div>
{% endif %}


{% endblock content %}
