{% extends "tavern/base.html" %}

{% block javascript %}
{{ form.media }}
{% endblock %}
{% block content %}
<form action="" method="POST" class="form-horizontal">
{% csrf_token %}

    <fieldset>
          <legend>Event Form</legend>

    {% if form.non_field_errors %}
        {% for non_field_error in form.non_field_errors %}
            <div class="alert alert-danger">
                <button class="close" type="button" data-dismiss="alert">&times;</button>
                {{ non_field_error }}
            </div>
        {% endfor %}
    {% endif %}

          {% for field in form %}
            <div class="control-group">
              <label class="control-label" for="input01">{{ field.label_tag }}</label>
              <div class="controls">
                {{ field }}
              </div>

              {% if field.errors %}
               {% for error in field.errors %}
                 <div class="alert alert-info">
             {{ error }}
                 </div>
               {% endfor %}
              {% endif %}

            </div>
          {% endfor %}

      <br/>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button class="btn btn-danger" type="reset">Cancel</button>
          </div>

    </fieldset>

</form>
<script type="text/javascript">
    $(document).ready(function(){
        var current_date = new Date()
        var end_date = new Date()
        current_date.setDate(current_date.getDate() - 1)
        $("#id_starts_at_picker").data("DateTimePicker").setStartDate(current_date);
        $("#id_ends_at_picker").data("DateTimePicker").setStartDate(current_date);
        $("#id_starts_at_picker").change(function(){
            var start_date = new Date()
            var starts_at_date = $("#id_starts_at").val();
            starts_at_date = starts_at_date.split("-")
            var start_year = parseInt(starts_at_date[0])
            var start_month = parseInt(starts_at_date[1])
            var starting_date = parseInt(starts_at_date[2])
            start_date.setFullYear(start_year, start_month - 1, starting_date - 1)
            $("#id_ends_at_picker").data("DateTimePicker").setStartDate(start_date);
        });

        $("#id_ends_at_picker").change(function(){
            var ends_at_date = $("#id_ends_at").val();
            ends_at_date = ends_at_date.split("-");
            var end_year = parseInt(ends_at_date[0]);
            var end_month = parseInt(ends_at_date[1]);
            var closing_date = parseInt(ends_at_date[2]);
            end_date.setFullYear(end_year, end_month - 1, closing_date);
            $("#id_starts_at_picker").data("DateTimePicker").setStartDate(current_date);
            $("#id_starts_at_picker").data("DateTimePicker").setEndDate(end_date);
        });
    });
</script>
{% endblock content%}
