{% extends 'tavern/base.html' %}

{% block content %}

  {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}
  {% endif %}

  {% if user.is_authenticated %}
    <div style="width:50%;float:right">
    <h1>Groups</h1>

    <ul class="list-group">
    {% for group in joined_groups %}
        <li class="list-group-item">
            <a href="{% url 'tavern_group_details' group.slug %}">{{ group.name }}</a>
            <button id="{{ group.slug }}" style="float: right;" onclick="toggle_member(this.id, '{{ user.id }}', '{{ group.slug }}')">
                Unjoin Group
            </button>
        </li>
        {% empty %}
        <li class="list-group-item">No groups joined</li>
    {% endfor %}

    {% for group in unjoined_groups %}
        <li class="list-group-item">
            <a href="{% url 'tavern_group_details' group.slug %}">{{ group.name }}</a>
            <button id="{{ group.slug }}" style="float: right;" onclick="toggle_member(this.id, '{{ user.id }}', '{{ group.slug }}')">
                Join Group
            </button>
        </li>
        {% empty %}
        <li class="list-group-item">No groups left</li>
    {% endfor %}
    </ul>
    </div>

    {% if past_events %}
        {% include 'tavern/past_events.html' %}
    {% endif %}

    {% if events_rsvped %}
        <h1> Events I rsvped </h1>
        <ul class="list-group">
    {% for event in events_rsvped %}
        <li class="list-group-item"><a href="{% url 'tavern_event_details' event.group.slug event.slug %}">{{ event.name }}</a></li>
        {% empty %}
        <li class="list-group-item">No upcoming events</li>
    {% endfor %}
    </ul>
    {% endif %}

    <h3><a href="{% url 'tavern_create_event' %}"> Create Event </a></h3>


    {% else %}
        {% if groups %}
        <ul class="list-group">
            <h1>All Groups </h1>
            {% for group in groups %}
               <li class="list-group-item">
                   <a href="{% url 'tavern_group_details' group.slug %}">{{ group.name }}</a>
               </li>
            {% empty %}
            <li class="list-group-item">No groups joined</li>
            {% endfor %}
        </ul>
        {% endif %}

    {% endif %}

    {% if upcoming_events %}
        {% include 'tavern/upcoming_events.html' %}
    {% endif %}

{% endblock content %}

{% block javascript %}
    <script>
        function toggle_member(clicked_id, user, slug) {
            var url = "{% url 'tavern_toggle_member' %}";
            $.post(url,
                   {user_id:user, slug:slug,
                   csrfmiddlewaretoken: '{{ csrf_token }}'},
                   function(data) {
                        $('#'+clicked_id).html(data);
                   });
        }
    </script>
{% endblock %}
